<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>add</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
</head>
<body class="container">
<br/>
<h1>请选择要添加成绩的学生</h1>
<br/><br/>
<div class="with:80%">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>学生学号</th>
            <th>学生姓名</th>
            <th>学生用户名</th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="user : ${users}">
            <td th:text="${user.getId()}">1</td>
            <td th:text="${user.getRealName()}">1</td>
            <td th:text="${user.getName()}">1</td>
            <td><a th:href="@{/admin/toAdd(id=${user.getId()})}">add</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="form-group">
    <div class="col-sm-2 control-label">
        <a th:href="@{/index}" class="btn btn-info">返回首页</a>
    </div>
</div>

</body>
</html>